[package]
name = "{{ name | kebab_case }}"
version = "0.1.0"
authors = ["Alex Wine <alexwine36@gmail.com>"]
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = {workspace = true}

[dev-dependencies]
wasm-bindgen-test = {workspace = true}
