.toolbar {
	display: flex;
	margin-top: 1em;
	margin-bottom: 1em;
}

.toolbar div {
	margin-right: 1em;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown:hover .dropdownContent {
	display: block;
}

.dropdownContent li {
	width: 100%;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown li:hover {
	background-color: #ddd;
	cursor: pointer;
}

.dropdown li.active {
	font-weight: bold;
}

.dropdown li.active::after {
	content: '✔';
	float: right;
}
.dropbtn {
	background-color: #f1f1f1;
	color: black;
	padding: 12px;
	font-size: 16px;
	border: none;
	cursor: pointer;

	height: 100%;
	display: flex;
	align-items: center;
}

.dropbtn b {
	margin-left: 0.25em;
}

.dropbtn::after {
	content: '▼';
	float: right;
	margin-left: 0.25em;
}
