.button {
	background-color: #f1f1f1;
	color: black;
	padding: 0.5em;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-right: 1em;
	/* height: 100%; */
	/* display: flex; */
	/* align-items: center; */
	transition: all 0.3s;
}

.button:disabled {
	opacity: 0.5;
}

.button:hover {
	box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.btnGroup button.active {
	/* border-width: 1px;
	border-style: solid;
	border-color: black; */
	box-shadow: inset 0 0 0 2px black;
}

.btnGroup {
	display: flex;
	justify-content: center;
}

.btnGroup button {
	background-color: #f1f1f1;
	color: black;
	border: none;
	border-right: 1px solid #ddd; /* Add a right border to all buttons */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
	border-radius: 0;
	transition: all 0.2s ease;
	/* transition: border-width 0.1s; */
}

.btnGroup button:first-child {
	border-radius: var(--button-radius) 0 0 var(--button-radius);
}
.btnGroup button:last-child {
	border-radius: 0 var(--button-radius) var(--button-radius) 0;
}
.btnGroup button:last-child {
	border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btnGroup:after {
	content: '';
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btnGroup button:hover {
	/* background-color: #3e8e41; */
	opacity: 0.5;
}

.iconButton {
	color: gray;
	padding: 0.25em;
}

.iconButton:disabled {
	/* opacity: 0.75; */
	color: lightgray;
}
